body {
    background: linear-gradient(45deg, #b92b27, #1565C0 100%) !important;
    background-repeat: no-repeat !important;
    height: 100vh;
}
h1, h2 {
    color: #FBD786;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#text {
    width: 40vw;
    margin: 0 1rem 0 30vw;
}
#button {
    width: 100px !important;
}
#secondSection {
    width: 60vw;
    justify-content: center ; 
    margin-left: 20vw;
}
#feedback{
    text-align: center;
}

